<div fxHide.xs fxShow.gt-xs class="section-dimensions background-black" fxLayout="column" fxLayoutAlign="center center">

    <div fxLayout="row" fxFlex="20" style="width: 100%; height: 100%; " fxLayoutAlign="center center">
        <h1>Testimonials</h1>
    </div>
    
    <div fxLayout="row" fxFlex="55" style="width: 95%; height: 70%;" fxLayoutAlign="center" fxLayoutGap="40px">
    
        <div fxLayoutAlign="start center " fxLayout="column" fxFlex="30" style=" background: white; height:100%;">
            <p class="element1">"</p>
            <div style="width:100%; transform: translateX(2vw)">
                <p class="content-p">I used to dread going to the gym, but ever since I started taking these classes, I look forward to my workouts! The instructors are so motivating and the music is always on point. I feel stronger and more energized after every class. Thanks for making exercise fun again!</p>
          

            </div>
            <div class="names-parent">
                <p class="contentTitle">- Nadal Mar-Pescado</p>

            </div>
  
        </div>
        
        <div fxLayoutAlign="start center" fxLayout="column" fxFlex="30" style=" background: white; height:100%;">
            <p class="element1">"</p>

            <div style="width:100%; transform: translateX(2vw)">
                <p class="content-p"> I've tried every workout under the sun, but nothing compares to the sense of community I've found in these classes. It's like a party every time I walk through the door, and I leave feeling like I've not only had a great workout but also made new friends. I never thought exercise could be this enjoyable!"</p>
            </div>

            <div class="names-parent">
                <p class="contentTitle">- Padel Jose-Padelista</p>
            </div>
        
        
        </div>
        
        <div fxLayoutAlign="start center "  fxLayout="column" fxFlex="30" style=" background: white; height:100%;">
            <p class="element1">"</p>
            <div style="width:100%; transform: translateX(2vw)">
                <p class="content-p">I was hesitant to try these classes at first, but now I'm hooked. The variety of classes offered keeps things interesting, and the instructors are so knowledgeable and supportive. I've seen a huge improvement in my fitness level since starting, and I can't imagine going back to my old gym routine.</p>
            </div>

            <div class="names-parent">
                <p class="contentTitle">- Barbra FitBody</p>
            </div>
    
        </div>
    
    </div>
       
</div>

<!--Mobile-->

<div fxShow.xs fxHide.gt-xs class="background-black" fxLayout="column" fxLayoutAlign="center center" style="width: 100%; height: 100%; padding-top:10vh; padding-bottom:10vh">

    <div fxLayout="row" fxFlex="30" style="width: 100%; height: 100%; " fxLayoutAlign="center start">
        <h1 class="mobile-h1">Testimonials</h1>
    </div>
    
    <div fxLayout="column" fxFlex="75" style="width: 70%; height: 100%;" fxLayoutAlign="center" fxLayoutGap="40px">
    
        <div fxLayoutAlign="start center" fxLayout="column" fxFlex="32" style=" background: white; height:70%;">
            <p class="element1">"</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut odit necessitatibus vel vitae sint harum dolor dignissimos. Placeat repellat nam, aspernatur voluptatum sapiente alias cumque rem nemo neque qui exercitationem?</p>
            <div class="mobile-names-parent">
                <p class="contentTitle">- Nadal Mar-Pescado</p>
            </div>
  
        </div>
        
        <div fxLayoutAlign="start center "  fxLayout="column" fxFlex="32" style=" background: white; height:70%;">
            <p class="element1">"</p>
            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda eos distinctio fuga molestias est at sint eligendi omnis similique ut iusto tempore, natus mollitia velit officia enim maxime? Rerum, ratione!</p>
            <div class="mobile-names-parent">
                <p class="contentTitle">- Padel Jose-Padelista</p>
            </div>
        
        </div>
        
        <div fxLayoutAlign="start center"  fxLayout="column" fxFlex="32" style=" background: white; height:70%;">
            <p class="element1">"</p>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti eos, soluta sapiente corporis aut sint quidem at veniam quisquam, adipisci omnis voluptatem, pariatur facilis commodi quas consectetur odit dolorum ad.</p>
            <div class="mobile-names-parent">
                <p class="contentTitle">- Barbra FitBody</p>
            </div>
        </div>
    
    </div>
       
</div>