

img{
    width:100%;
    height:100%;
}

h1{
    font-size: 3.3em;
    color:white;
    font-weight: 500;
    width: 500px;
    height:100px;
    padding-top: 6vh;
    text-align: center;
}

p{
    padding-top: 0vh;
    color: white;
    font-size: 1.3em;
    width: 80%
}

.line2{
    color: rgb(183, 2, 183);
    padding-left: 0vw;
    padding-top: 0vh;    
    font-size: 4.6em;
    letter-spacing: -10px;
    margin-top: -4vh
}

.line{
    color: rgb(183, 2, 183);
    transform: translateY(-1vw);
    border-bottom: 3px solid rgb(183, 2, 183);
}

.title-page6{
    width: 100%;
    text-align: left;
    transform: translateX(9vw);
}