<div fxHide.xs fxShow.gt-xs class="section-dimensions background-black" fxLayout="column" style=" overflow-x:hidden" fxLayoutAlign="center center">

    <div fxLayout="row" fxFlex="50" style="width: 100%;">
        <img src="assets/final.jpg" alt="">
    </div>

    
    <div fxLayout="row" fxFlex="20" style="width: 100%;">
        <h1 class="title-page6">Contact Us</h1>
    </div>

        
    <div fxLayout="row" fxFlex="10" fxLayoutAlign="center center" style="width: 100%;  ">
        <p class="line"></p>
    </div>

    <div fxLayout="row" fxFlex="70" style="width: 100%; ">
    
        <div fxLayout="column" fxFlex="50" style="padding-left: 10vw">
            <p>22 Some address <br> Nice road <br> Comfy City <br> Chill Country</p>
        </div>

        <div fxLayout="column" fxFlex="50" fxLayoutAlign="start start" style="padding-left: 10vw">
            <p>Phone: 122-223-447 <br> Email: strongBusiness@strong.com<br> Twitter: @strongBusiness987654<br></p>
        </div>
    
    </div>

</div>

<!--Mobile-->


<div fxShow.xs fxHide.gt-xs class="background-black" fxLayout="column" fxLayoutAlign="center center" style="width: 100%; height: 100vh; overflow-x: hidden;">

    <div fxLayout="row" >
        <img src="assets/final.jpg" alt="">
    </div>

    
    <div fxLayout="row" fxFlex="10" style="width: 100%;">
        <h1 style="font-size: 2.5em;" class="title-page6">Contact Us</h1>
    </div>

        
    <div fxLayout="row" fxFlex="10" fxLayoutAlign="center center" style="width: 100%; padding-left: 0vw;">
        <p class="line"></p>
    </div>

    <div fxLayout="column"  fxFlex="40" style="width: 100%;">
    
        <div fxLayout="column" fxFlex="40" fxLayoutAlign="center center" style="padding-left: 0vw">
            <p>22 Some address <br> Nice road <br> Comfy City <br> Chill Country</p>
        </div>

        <div fxLayout="column" fxFlex="40" fxLayoutAlign="center center" style="padding-left: 0vw; ">
            <p>Phone: 122-223-447 <br> Email: strongBusiness@strong.com<br> Twitter: @strongBusiness987654<br></p>
        </div>
    
    </div>

</div>