h1{
    //transform: translateX(-2vw)
    text-align: center
}

p{
    padding-top: 3vh;
    width: 80%
}

button{
    font-weight:600;
    background: black;
    //mix-blend-mode: darken;
    color:white;
}

#h1Container{
    width:100%;
}

img{
    width:100%;
    height:100%
}

#column1{
    //background: linear-gradient(to right, #c331ff 0%, #6f00ff 50%);
    height:100%;
    width:100%;
    //padding-left:3vw;
}

#column1Mobile{
    //background: linear-gradient(to right, #c331ff 0%, #6f00ff 50%);
    height:100%;
    width:100%;;
}

#h1Mobile{
    padding-top:3vh;
    width: 100%;
}

#pMobile{
    font-size: 1.3em;
    width: 70%
}
#buttonMobile{
    width:100% !important
}


#buttonContainer{
   transform: translateX(-5.5vw)
}